@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@1,6..12,600;1,6..12,700&display=swap');

.certificate p{
    font-family: 'Nunito', sans-serif;
    font-size: 14pt;
}

.certificate .b{
    font-size: 16pt;
}

.certificate h2{
    font-family: 'Nunito', sans-serif;
    color: #156641;
    font-weight: 550;
}
