@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@1,6..12,600;1,6..12,700&display=swap');

.masterclasses ul{
    list-style-type: none;
    padding: 0;
}

.masterclass p{
    font-size: 16pt;
}

.masterclasses h2{
    font-style: italic;
    font-weight: 550;
    color: #156641;
    text-align: center;
}

.masterclass h3{
    font-style: italic;
    font-weight: 550;
}

.masterclasses{
    margin-top: 20px;
    width: 100%;
    font-family: 'Nunito', sans-serif;
}

.masterclass{
    margin: 15px 0 20px;
    background-color: #C9F0DD;
    border: solid darkgreen;
    min-height: 300px;
    padding: 10px;
}

.current_masterclass{
    font-family: 'Nunito', sans-serif;
}

.current_masterclass h3{
    font-weight: bold;
    font-size: 22pt;
    font-style: italic;
}

.current_masterclass p{
    font-size: 16pt;
}

.library{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.library iframe{
    width: 100%;
    height: 500px;
}

.contests ul{
    list-style-type: none;
    padding: 0;
}

.contest p{
    font-size: 16pt;
}

.contests h2{
    font-style: italic;
    font-weight: 550;
    color: #156641;
    text-align: center;
}

.contests h3{
    font-style: italic;
    font-weight: 550;
}

.contests{
    margin-top: 20px;
    width: 100%;
    font-family: 'Nunito', sans-serif;
}

.contest{
    margin: 15px 0 20px;
    background-color: #C9F0DD;
    border: solid darkgreen;
    min-height: 300px;
    padding: 10px;
}

.current_contest{
    font-family: 'Nunito', sans-serif;
}

.current_contest h3{
    font-weight: bold;
    font-size: 22pt;
    font-style: italic;
}

.current_contest p{
    font-size: 16pt;
}


