@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@1,6..12,600;1,6..12,700&display=swap');

.mugs{
    list-style-type: none;
    padding: 0;
}


.mug_1{
    font-size: 14pt;
    font-weight: 450;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #C9F0DD;
    border: solid darkgreen;
    min-height: 315px;
    font-family: 'Nunito', sans-serif;
}

.mugs img{
    margin-top: 0;
    margin-right: 20px;
    margin-bottom: 0;
}

