{% extends 'main/base.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% block title %}О сертификате{% endblock %}

{% block page_header %}<h1>О сертификате дополнительного образования</h1>{% endblock %}

{% block content %}
    <div class="certificate">
        <p><b class="b">Сертификат дополнительного образования</b> — это способ оплаты кружков и секций
            для детей от 5 до 17 лет включительно</p>

        <p>С помощью сертификатов родители определяют, куда пойдут средства бюджета.
            Востребованные кружки получают больше денег, и это помогает им развиваться</p>

        <p>Некоторые частные кружки тоже переходят на оплату сертификатами.
            У родителей появляется возможность отдать детей учиться за счёт бюджета на платные программы</p>

        <p>
            Оплатить сертификатом можно кружки, в описании которых указано «Возможна оплата сертификатом»<br>
            Если на ребёнка выпущены сертификаты в нескольких регионах, воспользоваться можно только сертификатом региона проживания.
            Чтобы использовать сертификат своего региона, остальные нужно аннулировать через региональные
            навигаторы дополнительного образования детей.
        </p>

        <h2>Как деньги поступают на сертификат</h2>

        <p>Для каждого ребёнка сертификат выпускают один раз, а затем только пополняют.
            Сроки пополнения сертификата могут отличаться в разных муниципалитетах, но обычно это происходит
            автоматически в январе на один год</p>

        <p>Например, ребёнок ходит в кружок, программа которого рассчитана на период с сентября по апрель.
            Сертификат в январе пополнится деньгами на период с января по декабрь</p>

        <p>Сумма, на которую государство пополняет сертификат ежегодно, различается.
            В одном муниципалитете это может быть 2 000 ₽, в другом — 15 000 ₽ и больше</p>

        <p>Баланс сертификата может уменьшаться из-за списаний оплаты за кружки
            или увеличиваться из бюджета муниципалитета на новый период</p>

        <p>Количество кружков для оплаты сертификатом не регламентировано.
            Всё зависит от суммы самого сертификата. Если правила сертификата позволяют,
            можно записаться в несколько кружков, а когда ребёнок определится, отменить ненужные заявления</p>

        <h2>Как списать деньги за обучение</h2>

        <p>При записи в кружок с оплатой сертификатом,
            вы увидите баланс сертификата и детали оплаты. Если денег на сертификате будет не хватать,
            разницу можно доплатить из личных средств в самом кружке</p>

        <p>Сертификаты пополняются деньгами сразу на один год.
            Рассчитывайте бюджет так, чтобы потратить деньги в период январь — май,
            а также оставить нужную сумму на период с сентября по декабрь</p>

        <p>Если заберёте документы из кружка и отмените занятия,
            неиспользованная сумма вернётся на счёт сертификата</p>

        <p>
            Более подробно вы можете ознакомиться в Приказе <b>"Об утверждении правил персонифицированного финансирования
            дополнительного образования детей в Нижегородской области и методики определения нормативных затрат на
            оказание государственных услуг по реализации дополнительных общеобразовательных общеразвивающих программ"</b>
        </p>
        <a href="{% static 'main/certificate.pdf' %}" download style="margin-top: 10px; margin-bottom: 20px;
        font-size: 16pt" class="btn btn-primary btn-lg">
            <img src="{% static 'main/images/icon/pdf-icon.jpg' %}" alt="pdf-icon" width="60px" height="60px">
            certificate.pdf</a>
    </div>
    <link rel="stylesheet" href="{% static 'main/css/certificate.css' %}">

{% endblock %}