{% extends 'main/base.html' %}

{% load static %}

{% block title %}История{% endblock %}

{% block page_header %}
  <h1 style="font-size: 32pt">Этапы становления Детско-юношеского экологического центра «Зеленый Парус», структурного подразделения Дома детского творчества</h1>
{% endblock %}

{% block content %}
    <div class="history">
        <h2>Миссия организации:</h2>
        <ul>
            <li>Воспитание нравственных качеств для жизни в XXI веке, сохранение интеллектуального потенциала России;</li>
            <li>Создание детского экологического движения – ветви гражданского общества, рупор
            детей при взаимодействии с властями всех уровней;</li>
            <li>Воспитание кадров для Земли.</li>
        </ul>

        <h3 style="font-size: 18pt"><i>«Зеленый Парус» оснащен современным компьютерным классом, имеется живой
        уголок. Мы гордимся тем, что делаем большое государственное дело – прививаем детям
        экологическую культуру, любовь к родной природе и патриотизм, потому что, как сказал
        Михаил Пришвин, «Любить природу – значит, любить Родину».</i></h3>

        <p>1986 год – первый кружок «Бионика и биокибернетика» в Доме ученых и НИИ
        прикладной математики и кибернетики: попытка построить компьютер, походы
        выходного дня на Щелоковский хутор, Жолнино, Ботанический сад университета.
        Дислокация: школа No35, лаборатория биокибернетики (ул.Ульянова, 5), Дом ученых
        (ул.Октябрьская, 25). Первый компьютер БК, работа и экскурсии на большой компьютер
        ЕС-1035 в НИИ прикладной математики и кибернетики. Обучение программированию,
        знакомство с принципами работы нервной системы, работа в научной лаборатории.
        Руководители: Р.Д.Хабибуллин, Л.А.Хабибуллина. Вдохновитель и инициатор создания
        Е.В.Елисеева, тогда методист Дома ученых. Создание детской организации «Зеленый
        Парус».</p>

        <p>1990 - создание филиала кружка во Дворце им.Чкалова, руководитель Хабибуллина
        Л.А.</p>

        <p>1992 – создание первой экологической лаборатории на базе детского клуба и Центра
        воспитательной работы «Оникс». Материальная база микроскопы, магнитофон,
        фотоаппараты, компьютеры ДВК, полученные от кооператива «Потенциал», два
        компьютера IBM PC, полученные от УВД Нижегородской области и Управления
        Горьковской железной дороги. Вдохновители Л.Н.Юнисова, тогда директор «Оникса»,
        научные сотрудники В.В.Новиков, Ф.М.Мутыгуллин, Ю.А.Николаев, С.М.Аратен,
        А.Н.Алексеев. Разработка концепции «Школы экологической культуры». Первые
        преподаватели Г.И.Михеев (основы геологии), Р.Д.Хабибуллин (Экология и компьютеры),
        Л.А.Хабибуллина (Изучение дикой природы), М.А.Патова, Ф.Ф.Крылов, Дима Хохлихин,
        Олег Писарев, Валерий Мосягин, Асия Хабибуллина, Юрий Куликов, Кира Чекмарева.
        Победы членов организации на областных экологических олимпиадах. Победа на
        Всероссийском конкурсе исследовательских работ «Вода на Земле». Приз – 5 биноклей
        «Беркут» от Комитета экологии Нижегородской области. Природоохранная деятельность
        – участие в очистке рек. Создание движения «Чистильщиков рек».</p>

        <p>1994 – получение гранта Фонда «Евразия» для экологического образования
        школьников и студентов, приобретение современного компьютерного класса.</p>

        <p>1995 – получение гранта от Фонда Сороса на развитие природоохранной работы со
        школьниками и студентами. Приобретена лаборатория для исследования качества воды.
        1995 – первый экологический лагерь в заповеднике «Керженский». Вдохновители
        Е.Н.Коршунова (директор заповедника), О.Л.Кораблев (директор Рустайской школы),
        Г.А.Ануфриев (профессор университета), В.П.Воротников (доцент университета),
        А.А.Каюмов (директор департамента природопользования Нижегородской области).
        Создание Школы журналистики (Л.М.Чубарова).</p>

        <p>1995-1998 – участие в Российско-Германском экологическом проекте, участие членов
        организации в международных экологических лагерях в России и Германии.
        Вдохновители А.А.Каюмов, П.Ю.Мухин, С.А.Смирнов, Л.М.Шарова</p>

        <p>1997- 2015 – создание и выпуск областной экологической газеты «Зеленый Парус»
        (редактор Л.М.Чубарова).</p>

        <p>1998 – получение гранта от Фонда Сороса на поддержку газеты «Зеленый Парус»,
        приобретение редакционного компьютера, цифрового фотоаппарата.</p>

        <p>1998-1999 – проведение экологических лагерей в Ботаническом саду университета.
        Вдохновители А.К.Ибрагимов (тогда директор Ботанического сада), И.Л.Мининзон
        (научный сотрудник).</p>

        <p>1998 – публикация книги «Экосистемы: Антропогенный стресс, адаптация и
        стабилизация (Пособие для учителей и руководителей кружков для работы в
        экологическом лагере)». Авторы Р.Д. Хабибуллин, А.К.Ибрагимов, А.А.Ибрагимов,
        М.А.Патова.</p>

        <p>1998 – публикация книги «Детское экологическое движение: образование и
        воспитание». Авторы Р.Д.Хабибуллин, Л.А.Хабибуллина, А.А.Каюмов, Ф.Ф.Крылов.</p>

        <p>1999 – получение гранта от Института устойчивых сообществ на распространение
        опыта природоохранной и просветительской работы «Зеленого Паруса» в Нижегородской
        области. Создание областной сети детских экологических групп. Укрепление
        издательской базы.</p>

        <p>2000 - публикация книги «Летняя экологическая работа со школьниками». Авторы
        Р.Д.Хабибуллин, Л.А.Хабибуллина, Ф.Ф. Крылов.</p>

        <p>2000 – награда «Берестяная грамота» IV Всероссийского конкурса «Экология Россия»
        газете «Зеленый Парус».</p>

        <p>2000 - участие Р.Д.Хабибуллина в VI Европейской конференции по экологическому
        образованию в Италии.</p>

        <p>2000, октябрь - участие во Всероссийской выставке «Мир детства 2000» - экспозиция и
        руководство семинаром (Москва)</p>

        <p>2001 – грант Приволжского Федерального округа «Социальное партнерство» за проект
        «Благоустройство русла и прибрежных зон городских малых рек».</p>

        <p>2001-2003 - Участие во Всероссийских конференциях «Гражданское общество - детям»
        с пленарным докладом с оплатой дороги и проживания за счет организаторов (Москва,
        март, 2001, апрель, 2002, декабрь, 2003)</p>

        <p>2001-2003 – проведение международных экологических лагерей в заповеднике
        «Керженский» с участием школьников и студентов из 15 государств. Руководители:
        Л.А.Хабибуллина, Р.Д.Хабибуллин, А.Р.Хабибуллин, В.А.Патов, В.А.Мосягин
        2002, сентябрь – Участие с докладом на VII Международной Европейской конференции
        по экологическому образованию (Гент, Бельгия, сентябрь 2002г.).</p>

        <p>2002, сентябрь – проект «Река и дети» - финалист Всемирного конкурса детских
        экологических проектов “Volvo Adventure”. Участники: Никита Ромашкин, Галина
        Зимина, Владимир Колесников, Кирилл Ермин, Анна Воронина. Руководители
        Л.А.Хабибуллина, А.Р.Мосягина, В.А.Мосягин.</p>

        <p>2002, ноябрь – участие Евгения Таланина и Анны Полевой в работе Всемирного
        молодежного водного парламента в Канаде.</p>

        <p>2003 – участие Р.Д. Хабибуллина в 3 Всемирном водном форуме (Киото, Япония) с
        проектом «Река и дети».</p>

        <p>2003 - Участие с докладом в международном мастер-классе «Обучение для будущего»,
        проводимом корпорацией «Интел» (Пушкин, сентябрь, 2003)</p>

        <p>2003-2014 - Р.Д.Хабибуллин – региональный организатор международного
        юниорского водного конкурса исследовательских работ старшеклассников.</p>

        <p>2004 – стажировка Р.Д.Хабибуллина в Северной Каролине (США) по программе «Опыт
        работы с молодежью».</p>

        <p>2005-2013 – организация и проведение Детско-юношеской экологической Ассамблеи в
        рамках Международного научно-промышленного форума «Великие реки»</p>

        <p>2005 – создание и издание по заказу Министерства экологии и природных ресурсов
        России справочника «Детское экологическое движение России». Редактор и составитель
        Р.Д.Хабибуллин.</p>

        <p>2005 – диплом лауреата VII Всероссийского конкурса авторских образовательных
        программ дополнительного образования детей А.Р.Мосягиной за программу «Экология и
        компьютеры».</p>

        <p>2005 – Почетный диплом от Высшего экологического Совета Федерального Собрания
        Российской Федерации детско-юношеской организации «Зеленый Парус» за развитие
        экологического образования в Российской Федерации.</p>

        <p>2006 - Создание центра образования в области устойчивого развития в поселке Рустай.</p>

        <p>2007 – получение президентского гранта на укрепление материальной базы
        организации для природоохранной и образовательной работы.</p>

        <p>2005-2007 – Елизавета Дубровина, Андрей Патяев, Алексей Хабибуллин – члены
        молодежного парламента Нижегородской области.</p>

        <p>2006-2009 – проект «Сохраним парк Дубки» - природоохранный и исследовательский
        проект, направленный на предотвращение постройки в парке торгового центра.</p>

        <p>2008 – природоохранный и исследовательский проект «Вторая жизнь парка Дубки» -
        победитель Всемирного конкурса детских экологических проектов “Volvo Adventure”.
        Участники: Мария Ермилова, Юлия Юдина, Анастасия Харитонова, Артур Ерофеев.
        Руководители: Л.А.Хабибуллина, А.Р.Мосягина, А.П.Патяев. Премия за победу в
        конкурсе вложена в приобретение здания бывшего детского сада в поселке Рустай для
        экологического лагеря и Центра образования в области устойчивого развития.</p>

        <p>2008 – публикация книги «Методическое обеспечение исследовательской деятельности
        школьников и студентов» под редакцией Р.Д.Хабибуллина.</p>

        <p>2009 - Премия Президента РФ по Приоритетному национальному проекту
        «Образование» Е.С.Дубровиной.</p>

        <p>2009 – газета «Зеленый Парус» (главный редактор Л.М.Чубарова) - победитель
        «Нижегородского благотворительного сезона» в номинации «Социальное СМИ года».</p>

        <p>2009 – диплом победителя и премия Европейского молодежного водного парламента за
        фильм «Потомок Разина» С.Ф.Мутыгуллину.</p>

        <p>2010-2013 – Российско-Германский проект «Энергоэффективность, энергосбережение и
        альтернативные источники энергии». Руководители Р.Д.Хабибуллин и Хартмут Вольтер.</p>

        <p>2011 – организация ежедневной научной радиопрограммы «Под Зеленый Парусом» на
        областном радио «Образ». Руководитель А.П.Патяев.</p>

        <p>2011 – участие А.Р.Мосягиной и Р.Д.Хабибуллина во Всемирной конференции по
        биологическому разнообразию в Эквадоре.</p>

        <p>2011 – диплом победителя Всероссийского конкурса СМИ «PRO Образование»
        научной радиопрограмме «Под зеленым парусом». Руководитель программы А.П.Патяев.</p>

        <p>2011 - – региональная экологическая премия «Сосновая ветвь» в номинации «Зеленая
        инициатива»</p>

        <p>2011-2012 – М.Э.Ермилова – президент Европейского молодежного водного
        парламента.</p>

        <p>2012 – проект «Поможем нашему лесу» - финалист Всемирного конкурса детских
        экологических проектов “Volvo Adventure”. Участники: Мария Разумова, Ксения Ражева,
        Зинаида Мизиковская, Мария Волошина, Павел Дементьев. Руководители:
        Л.А.Хабибуллина, А.П.Патяев, М.Э.Ермилова.</p>

        <p>2013 – Премия Президента РФ по Приоритетному национальному проекту
        «Образование» М.И.Коротаевой</p>

        <p>2013 – грант от Госкорпорации «Росатом» на проект «Молодежный мониторинг
        водных объектов Нижегородской области». Руководители: А.Р.Хабибуллин, Е.А.Таланин,
        Е.С.Дубровина.</p>

        <p>2013, июнь – участие Р.Д.Хабибуллина в 7 Всемирном экологическом конгрессе по
        образованию в области устойчивого развития в Марракеше, Марокко.</p>

        <p>2013, август – участие делегации «Зеленого Паруса» в Азиатско-Тихоокеанском
        молодежном экологическом форуме в Южной Корее. Руководитель А.Р.Хабибуллин,
        участники Мария Волошина, Зинаида Мизиковская, Анастасия Самоделкина, Павел
        Дементьев.</p>

        <p>2013, октябрь – региональная экологическая премия «Сосновая ветвь» за проект «Карта
        качества воды» в номинации «Чистая вода ».</p>

        <p>2013, ноябрь – участие делегации «Зеленого Паруса» в Международном молодежном
        экологическом форуме стран СНГ в Москве. Лауреаты форума С.Ф.Мутыгуллин,
        Г.Н.Зимина, А.П.Патяев, Анастасия Самоделкина, Дмитрий Дамаскин, газета «Зеленый
        Парус».</p>

        <p>2013, декабрь – грант управления молодежной политики Нижнего Новгорода
        А.П.Патяеву за радиопрограмму «Под зеленым парусом».</p>

        <p>2013, декабрь – ежегодная общероссийская премия «Экопозитив» за проект «Карта
        качества воды»</p>

        <p>2014, апрель – президентская премия Киселевой Елизавете за исследовательский
        проект «Молодежная экологическая экспертиза»</p>

        <p>2015, апрель – президентская премия по поддержке талантливой молодежи Киселевой
        Елизавете</p>

        <p>2015, октябрь – Почетный диплом губернатора Нижегородской области Хабибуллин
        Р.Д. за летнюю оздоровительную кампанию</p>

        <p>2018, апрель - Алексеев Иван – победитель регионального и всероссийского этапа
        Юниорского Водного конкурса</p>

        <p>2018, октябрь - Салтыкова Ксения – победитель Всероссийского художественного
        конкурса «От Владимира до Владимира», прием в Совете Федерации РФ.</p>

        <p>2019, апрель - Алексеев Иван – победитель регионального и всероссийского этапа
        Юниорского Водного конкурса</p>

        <p>2019, октябрь – Премия им Найденко В.В в сфере окружающей среды Нижегородской
        области Хабибуллину Р.Д.</p>

        <p>2023, апрель – воспитанники «Зеленого Прауса» Гаврилов Степан, Котков Артем,
        Сургучев Артем, Шишкина Анна – победители регионального и всероссийского этапов
        конкурса иследовательких работ им.Вернадского.</p>

        <p>Нам представляется, что те технологии образовательной и воспитательной
        деятельности, которые разработаны и использовались в работе Детско-юношеского
        экологического центра «Зеленый Парус», позволяют создать коридор оптимального
        функционального состояния детей и тем самым способствуют повышению эффективности
        работы с детьми путем коррекции их функционального состояния.
        Суть технологии создания среды оптимального самочувствия ребенка состоит в
        следующем комплексе подходов:</p>
            <ul>
                <li>Расширение кругозора и пробуждение любознательности;</li>
                <li>Занятия по потребностям;</li>
                <li>Создание разновозрастной доброжелательной среды общения (школьники, студенты,
                педагоги, ученые);</li>
                <li>Возможность рефлексии (выступление в газете с заметкой, рисунком, фотографией,
                обсуждение волнующих проблем в кругу друзей и единомышленников);</li>
                <li>Участие в природоохранной и исследовательской деятельности с личностно и
                общественно значимыми результатами;</li>
                <li>Стимулирование инициатив, идущих от детей;</li>
                <li>Освоение современных информационных технологий.</li>
            </ul>

        <p>
        К детям приходит понимание того, что от каждого из них и от всех вместе что-то в этой
        жизни зависит. Дети видят положительный пример того, что пусть даже на короткое
        время, берег реки, озера, участок леса или парка становится чистым.
        Показательным примером результативной деятельности «Зеленого Паруса» является
        история со старейшим парком Нижегого Новгорода – парком «Дубки».
        </p>

        <h3><i>Парк «Дубки» для Нижнего как Байкал для России</i></h3>

        <p>
        Этот лозунг возник во время городского конкурса творческих работ детей и молодежи
        «Парк каким я его вижу», который «Зеленый Парус» проводил совместно с экоцентром
        «Дронт». Когда в региональных СМИ сообщили о намерении некоей коммерческой
        структуры строительство на территории этого единственного парка в густо населенном
        промышленном Ленинском районе, весь город, кажется, содрогнулся от такого решения
        властей. Весь город встал на защиту парка. Жители Ленинского района потребовали от
        властей соблюдения всей процедуры, предусмотренной законом для превращения парка в
        зону деловой активности – проведения общественных слушаний, специального решения
        городской Думы.
        </p>

        <p>
        Первые общественные слушания состоялись в Доме архитектора на Верхне-Волжской
        набережной. Перед Домом архитектора экологи провели митинг. Для участия в митинге
        были приглашены и члены «Зеленого Паруса». Дети откликнулись и нарисовали плакаты.
        </p>
        <p>
        Именно в этот момент все члены организации – и младшие школьники, и подростки, и
        студенты, и преподаватели «заболели» проблемой парка «Дубки». Большинство членов
        организации яростно бросилось защищать парк.
        </p>

        <p>
        Основной аргумент властей за строительство в парке – его запущенность и
        криминогенная обстановка в нем. В советские годы парк принадлежал заводу «Двигатель
        революции». К территории парка примыкал дом культуры завода. В начале 90-х годов дом
        культуры переходит в руки частников, которые перепрофилируют его в ночной клуб
        «Каир». Власти города, заблаговременно готовя площадку под строительство,
        ликвидировали администрацию парка. В результате парк приходит в запустение с горами
        неубранного мусора, недействующими аттракционами и спортивными сооружениями. За
        парком закрепляется слава притона для наркоманов и проституток.
        </p>

        <p>
        Следующие общественные слушания состоялись в школе, расположенной рядом с
        парком. Подростки-члены «Зеленого Паруса» по собственной инициативе обошли весь
        парк и не увидели ни одного наркомана, ни одной проститутки, но зато встретили
        беззащитных молодых мам с и еще более беззащитными малышами, спящими в колясках.
        «Вы не боитесь здесь гулять» - спросили они. «Это наш парк, - отвечали мамы. Днем
        здесь безопасно, а в темное время суток опасно даже у подъезда собственного дома».
        </p>

        <p>
        Планы властей по изменению зональности территории парка возмутили не только
        жителей, экологов и правозащитников, но и ученых, которые рассматривали парк как
        чудом сохранившуюся европейскую дубраву, а весь парковый комплекс как памятник
        ландшафтной парковой архитектуры. Поднялась кампания в защиту парка в региональных
        СМИ. Газета «Зеленый Парус» и ее редактор Л.М.Чубарова не остались в стороне. В
        газете периодически стали появляться острые статьи. Члены детской редакции, участвуя
        во встрече с мэром, задавали острые вопросы о парке, на которые мэр ответил, что город
        получит за парк 1,5 млрд. рублей.
        </p>

        <p>
        В отличие от администрации нам и жителям района эти деньги не застилали глаза.
        «Нам нужен парк» - скандировали жители города на митингах и манифестациях. Жители
        района создали комитет защиты парка.
        </p>

        <p>
        И мы решили взять шефство над парком. Начали с весенней экскурсии по парку,
        которую провел сотрудник Ботанического сада университета И.Л.Мининзон. Мы узнали,
        что в парке произрастает несколько десятков видов древесных и кустарниковых растений,
        увидели своими глазами куртины гусиного лука, цветущей медуницы, сочевичника
        весеннего, ландышей. Красота столетних дубов поразила нас. Доцент сельхозакадемии
        А.К.Ибрагимов сказал, что парк «Дубки» - это остаток коренной европейской дубравы,
        чудом сохранившейся среди автотрасс, промышленных предприятий и жилых кварталов.
        </p>

        <p>
        Следующим шагом было развешивание в парке скворечников, которые были
        изготовлены членами «Зеленого Паруса» и нашими давними друзьями и партнерами из
        Рустайской средней школы. Эти скворечник до сих пор висят, и в них постоянно есть
        жильцы. А затем началась длинная череда воскресников по уборке мусора в парке. Мусор
        убрали с центральной аллеи, с детской площадки, с берегов реки Борзовка, которая
        протекает через парк. А затем началась длинная череда воскресников по уборке мусора в
        парке. Мусор убрали с центральной аллеи, с детской площадки, с берегов реки Борзовка,
        которая протекает через парк. Неприятно было то, что мы убирали, а жители района
        постоянно мусорили. Так продолжалось все лето. К нам присоединился кружок
        «Ойкумена» школы No182 Ленинского района во главе с О.Л.Праводеловой. Вместе с
        ними мы расчистили центральную аллею парка, благоустроили клумбу вокруг памятника
        М.Горькому, посадили цветы на клумбе, покрасили памятник. На детской площадке
        выкосили траву, покрасили качели и другие аттракционы и организовали праздник «День
        Ивана Купалы», на который собралось достаточно много детей из окрестных домов. В
        рамках работы Биологического научного общества Маша Ермилова изучила динамику
        фитопланктона реки Борзовки. Ее шефами - научными руководителями был Алексей
        Хабибуллин и Андрей Патяев – специалисты-гидробиологи кафедры ботаники ННГУ.
        Лиза Дубровина, студентка кафедры экологии ННГУ, построила математическую модель
        поведения экосистемы «парк-река» в случае вырубки парка. Модель предсказала, что
        вслед за вырубкой парка исчезнет и река.
        </p>

        <p>
        Материалы своей работы ребята доложили на Детско-юношеской экологической
        ассамблее, на российском этапе юниорского водного конкурса, на конференции научного
        общества учащихся, на областной экологической олимпиаде. И везде звучало: не будет
        парка, исчезнет и река. Проект «Вторая жизнь парка «Дубки» был направлен на
        международный конкурс детских экологических проектов «Океан приключений»,
        проводимый Программой ООН по окружающей среде, Международным фондом дикой
        природы и корпорацией «Вольво». В конкурсе участвовало более 450 команд из 45 стран
        со всех континентов. В финал вышло 15 команд. Финал состоялся в Гетеборге в мае 2008
        года. Проблема парка «Дубки» задела всех членов жюри, и наша команда оказалась
        лучшей и получила Первую премию в размере 10 тысяч долларов.
        </p>

        <p>
        Летом 2008 года мы продолжили работу по благоустройству парка. Вскопали еще одну
        клумбу. Дети «Зеленого Паруса» всю весну выращивали рассаду цветов. В мае она была
        высажена уже на две клумбы. Благоустраивать клумбы нам помогали и жители
        Ленинского района, члены комитета спасения парка, которые пересадили очень много
        рассады из своих садовых участков на клумбы парка и периодически пропалывали
        клумбы.
        </p>

        <p>
        Приятным известием для нас стало сообщение об отмене своего распоряжения об
        изменении зональности территории парка главой города. Таким образом, угроза
        уничтожения парка была остановлена. Из городского бюджета была выделена сумма
        500 000 рублей на воссоздание инфраструктуры парка, а в последующем парк был
        включен в гордскую программу «Комфортная среда» и сейчас является одним из лучших
        городских парков для детей и взрослых.
        Этот пример показывает, что объединенными усилиями можно противостоять
        попыткам ухудшения экологической ситуации в городе. Нужна согласованная,
        целенаправленная работа.
        </p>
    </div>
    <link rel="stylesheet" href="{% static 'main/css/history.css' %}">
{% endblock %}