{% extends 'main/base.html' %}

{% load static %}

{% block title %}{{mug.title}}{% endblock %}

{% block page_header %}
    <h1>
        <a style="color: #156641;" href="{% url 'main:mugs' %}">Кружки в Зеленом парусе</a>
    </h1>
{% endblock %}

{% block content %}
    <div class="mug">
        <h2>
            {{mug.title}}
        </h2>
        <h3>
            Преподаватель: <a href="{% url 'main:teacher' mug.teacher.id %}">{{mug.teacher}}</a>
        </h3><br>
        <h3>Фото: </h3>
        <ul style="display: inline-block; list-style-type: none; padding: 0;">
            {% for obj in mug_photos %}
            <li style="display: inline-grid; margin-right: 20px">
                <img src="{{obj.photo.url}}" style="margin: 10px 0 10px 0;" width=250px height=350px>
            </li>
            {% empty %}
                <li>На данный момент не размещено фотографий</li>
            {% endfor %}
        </ul><br>
        <p>
            <h3>О кружке: </h3>
            {{mug.description|linebreaks}}
        </p>
        <a href="{{mug.link_for_recording}}" class="btn btn-lg btn-success" style="margin:5px; margin-left: 0;
            font-size: 18pt;">Записаться</a>
    </div>
    <link rel="stylesheet" href="{% static 'main/css/mugs.css' %}">
{% endblock %}